%footer.footer
  .small.center
    Created by
    %a{ href: 'https://github.com/david-frederick'}
      J. David Frederick
    as a student project for CS-6365 at
    %a{ href: 'https://www.gatech.edu/'}
      Georgia Tech
