%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner.container
    %h1#logo Board Game Shopper
    %ul.nav.pull-right
      %li= link_to 'Games', games_path
      %li= link_to 'Shops', shops_path
